{% extends "tvshow/header.html" %}
{% block content %}
<div class="container">
  {% for show in show_data %}
  <div class="card mb-2" style="max-width: 540px;">
    <div class="row g-0 align-items-start">
      <div class="col-4 col-sm-3">
        <a href='/show/{{show.slug}}'>
          <img class="img-fluid rounded-start" src="{{show.banner}}" alt="{{show.seriesName}}" width="100px">
        </a>
      </div>
      {% if flag %}
      <div class="col-6 col-md-3">
        <div class="card-title">
          
          
          {% if view_type == 'upcoming' %}
          {{show.next_episode.firstAired|date:"D"}} {{show.next_episode.firstAired}}<br>
          {% endif %}
          {{show.seriesName}}

        </div>
        <p class="card-text">
          {% if show.next_episode.firstAired == time.date %}
          <span class="badge bg-warning text-dark">New</span> 
          {% endif %}
          <small class="text-body-secondary">S{{show.next_episode.season.number}} |
            E{{show.next_episode.number}} </small></p>
        <p class="card-text"><small class="text-body-secondary"><a data-bs-toggle="modal" data-bs-target="#s{{show.next_episode.tvdbID}}">
        {{show.next_episode.episodeName}}</a></small></p>
        
      </div>
      <div class="col-1 col-md-1 align-self-center">
        <form class='form-inline' action="/episode_swt" method="post">{% csrf_token %}
          <input type="hidden" name="episode_swt" value="{{show.next_episode.id}}">
          <input type="hidden" name="home" value="home">
          <input type="checkbox" onclick="this.form.submit();">
        </form>
      </div>
      {% if show.is_watched %}
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
          style="width: {{ show.watched_pct }}%;" aria-valuenow="{{show.episode_watch_count}}" aria-valuemin="0"
          aria-valuemax="{{show.total_episodes}}"></div>
      </div>
      {% else %}
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ show.watched_pct }}%;"
          aria-valuenow="{{show.episode_watch_count}}" aria-valuemin="0" aria-valuemax="{{show.total_episodes}}"></div>
      </div>
      {% endif %}
      {% include 'tvshow/episode_modal_snippet.html' with episode=show.next_episode %}
      {% else %}
      <div class="col-8 col-md-3">
        <div class="card-title">
          {{show.seriesName}}
          <p class="card-text"><small class="text-body-secondary">{{show.overview}}</small></p>
        </div>
      </div>
      {% endif %}
    
    </div>
  </div>

  {% endfor %}
</div>

{% if messages %}
<div class="modal fade" id="messages" tabindex="-1" role="dialog" aria-labelledby="messagesLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-xs-center" id="myModalLabel">Updates</h4>
      </div>
      <div class="modal-body">
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
          {{message}}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}