{% load my_filters %}
<div class="modal fade" id="s{{season.number}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" rolepytho="document">
    <div class="modal-content">
      <div class="modal-header">
        <form class="form-inline" action="/season_swt" method="post">{% csrf_token %}
          <div class="d-grid mx-auto">
          <button type="button" class="btn btn-sm btn-secondary me-md-2" data-bs-dismiss="modal">Close</button>
        </div>
          <h4 class="modal-title float-xs-left" id="myModalLabel">Season {{season.number}}</h4>
          <input type="hidden" name="season_swt" value="{{season.id}}">
          {% if season.status_watched == True %}
          <button class="btn btn-sm btn-secondary-outline float-xs-right" type="submit">Mark Not Watched</button>
          {% else %}
          <button class="btn btn-sm btn-primary float-xs-right" type="submit">Mark Watched</button>
          {% endif %}
        </form>
        <form class="form-inline" action="/update_show" method="post">{% csrf_token %}
          <input type="hidden" name="show_info" value="{{show.id}}">
          <input type="hidden" name="season" value="{{season.number}}">
        <button class="btn btn-sm btn-primary float-xs-right" type="submit">Update</button>
        </form>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          {% for episode in season.episode_set.all|order_by:'number' %}
          <li class="list-group-item">
            
            <form class='form-inline' action="/episode_swt" method="post">{% csrf_token %}
              <input type="hidden" name="episode_swt" value="{{episode.id}}">
              <input type="hidden" name="home" value="away">
              {% if episode.status_watched == True %}
              <input type="checkbox" onclick="this.form.submit();" checked>
              {% else %}
              <input type="checkbox" onclick="this.form.submit();">
              {% endif %}
              {{episode.number}}. <a data-bs-toggle="collapse" href="#collapseS{{episode.season.number}}E{{episode.number}}" aria-expanded="false" aria-controls="collapseS{{episode.season.number}}E{{episode.number}}">{{episode.episodeName}}</a> <small>{{episode.firstAired}}</small>
            </form>
          </li>
          <div class="collapse" id="collapseS{{episode.season.number}}E{{episode.number}}">
            <div class="card card-block card-inverse card-danger">
              <p class="card-text">
                {% if episode.imdbID != None %}
                  <a target="_blank" href="https://www.imdb.com/title/{{episode.imdbID}}">IMDB</a><br>
                {% endif %}
                {{episode.overview}}
              </p>
            </div>
          </div>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
